<table class="table table-bordered">
  <tr>
    <td>Payment Method</td>
    <td>Name</td>
    <td>Credit Card Number</td>
    <td>Amount</td>
    <td>Exp Date</td>
    <td>Comment</td>
  </tr>
  {{#each donations}}
    <tr>
      <td>{{paymentMethod}}</td>
      <td>{{name}}</td>
      <td>{{creditCardNumber}}</td>
      <td>{{amount}}</td>
      <td>{{expDate}}</td>
      <td>{{comment}}</td>
    </tr>
  {{/each}}
</table>
